<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>全选</title>
<body>
<div id="app">
    <index></index>
</div>
<script src="./assets/jquery.min.js"></script>
</body>
</html>